
//
// Call to action
// --------------------------------------------------

.call-to-action {
  margin: 10px 0;
  height: 295px;
  overflow: hidden;
  background: url('../img/bg-call-to-action.jpg') center center no-repeat;
  background-size: cover;
}