
//
// Global styles
// --------------------------------------------------

.font-normalize(@size, @margin: 0) {
  font-size: @size;
  line-height: @size;
  margin: @margin;
}

* {
  outline: none !important;
}

body {
  background: @body-bg;
}

// improvements for cols in mobile version
@media (max-width: @grid-float-breakpoint) {
  .row {
    [class*="col-md"] + [class*="col-md"] {
      margin-top: 30px;
    }
  }
}



//
// Breadcrumbs
// --------------------------------------------------

.breadcrumbs {
  background: #f6f6f6;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 15px;

  .breadcrumb {
    float: left;
  }

  .action-buttons {
    float: right;
    margin-top: 7px;
    position: relative;
  }

  @media (max-width: @grid-float-breakpoint) {
    padding-top: 10px;
    padding-bottom: 10px;

    .breadcrumb {
      float: none;
      padding-top: 0;
    }

    .action-buttons {
      float: none;
      margin-top: 0;
    }
  }
}



//
// Content
// --------------------------------------------------

.page-header {
  margin-top: 0;
}

.verytop,
.verybottom {
  .box {
    padding: @vertical-rhythm*3 0;
  }
}

.verytop,
.landing
.verybottom {

  .box__caption {
    .font-normalize(20px, 0);
  }

  .box__content {
    padding-top: 30px;
  }
}

.verybottom {
  background-color: #e9e9e9;
}

.content {
  padding: @vertical-rhythm*2 0;
  background: #fff;

  &--offset {
    padding-top: 0;
  }

  &__header {
    .clearfix();
    // border-bottom: 1px solid #ddd;
    margin-bottom: @vertical-rhythm/2;
    padding-bottom: @vertical-rhythm/2;

    h1 {
      float: left;
      .font-normalize(28px, 0);
    }
  }

  &__actions {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
      float: left;

      > a {
        display: inline-block;
        line-height: 28px;
        margin-left: @vertical-rhythm/2;
        color: fade(@text-color, 50%);

        &:hover {
          color: fade(@text-color, 70%);
          text-decoration: none;
        }
      }
    }
  }

  &__body {

    + .box {
      margin-top: @vertical-rhythm*2;
    }
  }

  @media (max-width: @grid-float-breakpoint) {
    padding: @vertical-rhythm 0;
  }
}

.highlight {
  background: #fde35b;
}



//
// Navs
// --------------------------------------------------

.nav-inline {

  > li {
    float: left;

    > a {
      padding: 0;
      margin: 0 15px 0 0;

      &:hover {
        background: none;
      }
    }
  }
}



//
// Range Slider
// --------------------------------------------------

.irs {
  height: 34px;

  .irs-line,
  .irs-bar,
  .irs-slider {
    position: absolute;
    top: 50%;
    margin-top: 4px;
    .translate(0, -50%);
  }

  .irs-line,
  .irs-bar {
    height: 4px;
    left: 0;
    border-radius: @border-radius-small;
  }

  .irs-line {
    width: 100%;
    background-color: @border-color;
  }

  .irs-bar {
    background-color: @brand-primary;
  }

  .irs-min,
  .irs-max,
  .irs-from,
  .irs-to {
    margin-top: -2px;
    font-size: 11px;
  }

  .irs-slider {
    width: 20px;
    height: 14px;
    border: 2px solid @brand-primary;
    border-radius: 7px;
    background-color: #fff;
  }
}