
//
// Header
// --------------------------------------------------

.header {
  position: relative;
  height: 660px;
  margin-top: -@navbar-height;
  background: @header-bg url('../img/bg-header.jpg') 50% 25% no-repeat;
  background-size: cover;
  z-index: 0;

  @media (max-width: @grid-float-breakpoint) {
    margin-top: 0;
  }

  @media (max-width: @screen-xs) {
    height: 550px;
  }

  .icon-scroll-to-content {
    position: absolute;
    left: 50%;
    bottom: 45px;
    .translate(-50%, 0);

    &,
    &:hover,
    &:focus {
      color: fade(#fff, 60%);
    }
  }

  &__title {
    margin-top: 230px;
    .font-normalize(36px, 0 0 50px);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;

    > a,
    > span,
    > strong {

      &,
      &:hover,
      &:focus {
        color: @brand-primary;
        text-decoration: none;
      }
    }

    @media (max-width: @screen-xs) {
      .font-normalize(24px, 0 0 20px);
    }
  }

  &__container-full-height {
    position: absolute;
    width: 100%;
    max-width: @screen-lg;
    height: 100%;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);

    &__middle {
      position: absolute;
      width: calc(~"100% - (30px * 2)");
      top: 50%;
      left: 50%;
      .translate(-50%, -50%);
    }
  }
}